<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I AM PRO</title>
    <link rel="stylesheet" href="css/meme.css">
</head>
<body>

<div class="container">
    <image src="pictures/emoji.png" class="emoji"></image>
    <span class="big-text">YOU ARE SOO EZ!!!</span>
    <image src="pictures/prank.png"></image>
</div>

<image src="pictures/explosion.png" class="absolute-emoji" style="top: 2rem; left: 3rem; transform: rotate(40deg);"></image>
<image src="pictures/explosion.png" class="absolute-emoji" style="bottom: 2rem; left: 3rem; transform: rotate(20deg);"></image>
<image src="pictures/explosion.png" class="absolute-emoji" style="top: 2rem; right: 3rem; transform: rotate(73deg);"></image>
<image src="pictures/explosion.png" class="absolute-emoji" style="bottom: 2rem; right: 3rem; transform: rotate(180deg);"></image>
<image src="pictures/explosion.png" class="absolute-emoji" style="top: 2rem; left: 3rem; transform: rotate(55deg);"></image>
</body>
</html>