<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/login/styles.css}">
</head>
<body>
<div class="half-color-background"></div>

<div class="form-container">
    <div class="inner-form-div">

        <div class="column-form">
        <div><label class="user-input-label" for="input-username">User Name :</label></div>
        <div><label class="user-input-label" for="input-password">Password :</label></div>
        </div>
        <div class="column-form">
        <div><input class="user-input" id="input-username" type="text" /></div>
        <div><input class="user-input" id="input-password" type="password" /></div>
        </div>
        <div><input type="button" onclick="formSubmit()" class="submit-button" value="Sign In"/></div>
    </div>
</div>

<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/login/index.js}"></script>
</body>
</html>